<p-panel >
  <p-header>
    <h3>{{fullDescription}}</h3>
  </p-header>
  <div>
    <p-table>
      <ng-template pTemplate="header">
        <tr>
          <th>Dosage</th>
          <th>Frequency</th>
          <th>Cycles</th>
        </tr>
        <tr>
          <td>
            <div class="ui-fluid">
              <input type="text" pInputText 
              [(ngModel)]="dosage"
              (keyup)="checkValidation()"/>
            </div>
          </td>
          <td>
            <div class="ui-fluid">
              <input type="text" pInputText 
              [(ngModel)]="frequency"
              (keyup)="checkValidation()"/>
            </div>
          </td>
          <td>
            <div class="ui-fluid">
              <input type="text" pInputText 
              [(ngModel)]="cycles"
              (keyup)="checkValidation()"/>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-footer>
    <p-button [disabled]="!showButton" label="Click" (onClick)="storeProductDetails()"></p-button>
  </p-footer>
</p-panel>