.autoComplete-styles{
    padding-bottom: 15px;
}
.autoComplete-custom .ui-autocomplete-panel{
    width: 400px;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.test-style{
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}