<p-growl [(value)]="msgs"></p-growl>

<div class="ui-g-11">
  <p-card styleClass="ui-card-shadow">
    <p-table [value]="patients">
      <ng-template pTemplate="header">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Medical Aid Number</th>
          <th>Auth Number</th>
          <th>ID Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>{{patient.FirstName}}</td>
          <td>{{patient.Surname}}</td>
          <td>{{patient.MedicalAidNumber}}</td>
          <td>{{patient.UnisolveProfileNumber}}</td>
          <td>{{patient.IDNumber}}</td>
        </tr>
      </ng-template>
    </p-table>
    <span>
      <p-card [style]="{'background-color':'rgb(225, 225, 225)'}">
        <p-table [value]="products">
          <ng-template pTemplate="header">
            <tr>
              <th>Nappi</th>
              <th>Description</th>
              <th>Active</th>
              <th>Dosage</th>
              <th>Frequency</th>
              <th>Repeat</th>
            </tr>
            <tr>
              <td>
                <div>
                  <div class="ui-fluid">
                    <div *ngIf="showAutocompleteFields">
                      <p-autoComplete 
                      styleClass="autoComplete-custom"
                      [disabled]="disableAutocomplete"
                      [(ngModel)]="product" 
                      [suggestions]="filteredProducts" 
                      (completeMethod)="filterProductSingle($event, 'nappi')" 
                      (onSelect)="onSelect($event)"
                      field="FullDescription" 
                      [size]="30"
                      [minLength]="5"></p-autoComplete>
                    </div>
                    <div class="ui-fluid" *ngIf="!showAutocompleteFields">
                      <input type="text" pInputText [(ngModel)]="nappi" readonly pTooltip={{nappi}} tooltipPosition="bottom"/>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <div class="ui-fluid">
                    <div *ngIf="showAutocompleteFields">
                      <p-autoComplete 
                      styleClass="autoComplete-custom"
                      [disabled]="disableAutocomplete"
                      [(ngModel)]="product" 
                      [suggestions]="filteredProducts" 
                      (completeMethod)="filterProductSingle($event, 'productName')" 
                      (onSelect)="onSelect($event)"
                      field="FullDescription" 
                      [size]="30"
                      [minLength]="1"></p-autoComplete>
                    </div>
                    <div class="ui-fluid" *ngIf="!showAutocompleteFields">
                      <input type="text" pInputText [(ngModel)]="description" readonly pTooltip={{description}} tooltipPosition="bottom"/>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <div class="ui-fluid">
                    <div *ngIf="showAutocompleteFields">
                      <p-autoComplete 
                      styleClass="autoComplete-custom"
                      [disabled]="disableAutocomplete"
                      [(ngModel)]="product" 
                      [suggestions]="filteredProducts" 
                      (completeMethod)="filterProductSingle($event, 'active')" 
                      (onSelect)="onSelect($event)"
                      field="FullDescription" 
                      [size]="30"
                      [minLength]="1"></p-autoComplete>
                    </div>
                    
                    <div class="ui-fluid" *ngIf="!showAutocompleteFields">
                      <input type="text" pInputText [(ngModel)]="active" readonly pTooltip={{active}} tooltipPosition="bottom"/>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="ui-fluid">
                  <input #dosageFocus type="number" pInputText [(ngModel)]="dosage" (keyup)="checkValidation($event, 'dosage')"/>
                </div>
              </td>
              <td>
                <div class="ui-fluid">
                  <input type="number" pInputText [(ngModel)]="frequency" (keyup)="checkValidation($event, 'frequency')"/>
                </div>
              </td>
              <td>
                <div class="ui-fluid">
                  <input type="number" pInputText [(ngModel)]="repeat" (keyup)="checkValidation($event, 'repeat')"/>
                </div>
              </td>
            </tr>
          </ng-template>
          
        </p-table>
        <p-table [value]="productArray">
          
          <ng-template pTemplate="body" let-product>
            <tr>
              <td><div class="test-style">{{product.Nappi}}</div></td>
              <td><div class="test-style" pTooltip={{product.Description}} tooltipPosition="bottom">{{product.Description}}</div></td>
              <td><div class="test-style" pTooltip={{product.Active}} tooltipPosition="bottom">{{product.Active}}</div></td>
              <td><div class="test-style">{{product.Dosage}}</div></td>
              <td><div class="test-style">{{product.Frequency}}</div></td>
              <td><div class="test-style">{{product.Repeat}}</div></td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>  
    </span>
    
    <p-footer>
      <p-button 
      label="Save TP" 
      [disabled]="!enableButton" 
      (onClick)="saveTP()"></p-button>
      
    </p-footer>
  </p-card>
</div>

<p-dialog appendTo="body" header="Confirm product selection" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
[baseZIndex]="10000">
<p>Nappi: {{nappi}}</p>
<p>Description: {{description}}</p>
<p>Active: {{active}}</p>
<p>Dosage: {{dosage}}</p>
<p>Frequency: {{frequency}}</p>
<p>Repeat: {{repeat}}</p>
<p-footer>
  <button type="button" pButton (click)="dialogSave()" label="Save"></button>
  <button type="button" pButton (click)="dialogCancel()" label="Cancel" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>



