<div class="ui-g-11">
  <p-card styleClass="ui-card-shadow">
    <p-table [value]="patients">
      <ng-template pTemplate="header">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Medical Aid Number</th>
          <th>Auth Number</th>
          <th>ID Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>{{patient.FirstName}}</td>
          <td>{{patient.Surname}}</td>
          <td>{{patient.MedicalAidNumber}}</td>
          <td>{{patient.UnisolveProfileNumber}}</td>
          <td>{{patient.IDNumber}}</td>
        </tr>
      </ng-template>
    </p-table>
    <span>
      <app-product-search *ngIf="showProductSearch" (toggleView)="toggleView($event)"></app-product-search>
      <app-product-new *ngIf="!showProductSearch" (emitProductModel)="emitProductModel($event)" [productModel]="productModel" ></app-product-new>
    </span>
    <p-footer>
      <p-button label="Click" [disabled]="!enableButton" (onClick)="saveTreatment()"></p-button>
    </p-footer>
  </p-card>
</div>



